APP_NAME={{PROJECT_NAME}}
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL={{PRODUCTION_URL}}

DB_CONNECTION=pgsql
DB_HOST={{PROJECT_NAME}}-postgres
DB_PORT=5432
DB_DATABASE={{PROJECT_NAME}}
DB_USERNAME={{PROJECT_NAME}}
DB_PASSWORD=CHANGE_THIS_PASSWORD

REDIS_HOST={{PROJECT_NAME}}-redis
REDIS_PASSWORD=null
REDIS_PORT=6379

CACHE_STORE=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=redis
